.padding-block-base {
  padding-block: var(--padding-block-base);
}

.padding-block-large {
  padding-block: var(--padding-block-large);
}

.padding-block-xlarge {
  padding-block: var(--padding-block-xlarge);
}

.padding-inline-large {
  padding-inline: var(--padding-inline-large);
}

.container {
  --max-width: 375px;
  width: min(var(--max-width), 100% - var(--padding-inline-large) * 2);
  margin-inline: auto;
}

.desktop-only {
  display: none;
}

.even-columns {
  display: grid;
  gap: 1rem;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.grid {
  display: grid;
}

.gap-1 {
  gap: 1rem;
}

.gap-1\.25 {
  gap: 1.25rem;
}

.gap-1\.5 {
  gap: 1.5rem;
}

@media (width >= 80em) {
  .container {
    --max-width: 80em;
  }

  .desktop-only {
    display: inherit;
  }

  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}
