#featured {
  img {
    height: 100%;
    object-fit: cover;
  }

  .card {
    border-radius: 4px;
    overflow: hidden;
    position: relative;

    /* Same as "card::before" if this CSS weren't nested /*/
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      top: 50%;
      background: linear-gradient(180deg, transparent 0%, #020617 100%);
    }

    figcaption {
      position: absolute;
      bottom: 0;
      padding: 24px;

      &:has(.text-large) {
        padding: 12px;
      }

      h2 {
        --max-lines: 3;
        --line-height: 1.3em;
        margin-top: 8px;
        display: block; /* Fallback for non-webkit */
        display: -webkit-box;
        max-height: calc(
          var(--line-height) * var(--max-lines)
        ); /* Fallback for non-webkit */
        line-height: var(--line-height);
        -webkit-line-clamp: var(--max-lines);
        -webkit-box-orient: vertical;
        line-clamp: var(--max-lines);
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
