/* Utility-first */
.grid {
  display: grid;
}

.grid-flow-column {
  grid-auto-flow: column;
}

.grid-columns-2 {
  grid-template-columns: 1fr 1fr;
}

.gap-16 {
  gap: 16px;
}

.text-2xlarge {
  font: var(--h1);
}

.text-xlarge {
  font: var(--h2);
}

.text-large {
  font: var(--h3);
}

.text-small {
  font: var(--text-small);
}
