/* Utility-first */
.grid {
  display: grid;
}

.grid-flow-column {
  grid-auto-flow: column;
}

.grid-columns-2 {
  grid-template-columns: 1fr 1fr;
}

.gap-16 {
  gap: 16px;
}

.gap-32 {
  gap: 32px;
}

.text-2xlarge {
  --max-lines: 3;
  --line-height: 1.35em;
  font: var(--h1);
}

.text-xlarge {
  --max-lines: 3;
  --line-height: 1.4em;
  font: var(--h2);
}

.text-large {
  --max-lines: 3;
  --line-height: 1.4em;
  font: var(--h3);
}

.text-small {
  --max-lines: 4;
  --line-height: 1.6em;
  font: var(--text-small);
}
